In [11]:
import winsound as ws
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
from bs4 import BeautifulSoup
import requests
import cv2
from sklearn.cluster import KMeans

In [12]:
alldata = pd.read_csv("dataset\\finals\\complissivolibricongenere.csv")

In [12]:
alldata = pd.read_csv("dataset\\finals\\Unnamed: 0")

In [13]:
alldata = alldata[["authors", "discreteauthors", "genderclass"]]
alldata

                         authors  discreteauthors  genderclass
0                Suzanne Collins              181            4
1                   J.K. Rowling               40            4
2                Stephenie Meyer              104            6
3                     Harper Lee             1074           10
4            F. Scott Fitzgerald              334           10
5                     John Green              355           11
6                 J.R.R. Tolkien              192            4
7                  J.D. Salinger              490            0
8                      Dan Brown              249           14
9                    Jane Austen              222            9
10               Khaled Hosseini              756            9
11                 Veronica Roth              115            4
12                 George Orwell              252            1
13                 George Orwell              252            4
14                    Anne Frank             1294           21
15                 Stieg Larsson              550           14
16               Suzanne Collins              181            4
17                  J.K. Rowling               40            4
18                J.R.R. Tolkien              192           23
19               Suzanne Collins              181            4
20                  J.K. Rowling               40            4
21                  Alice Sebold              759            4
22                  J.K. Rowling               40            4
23                  J.K. Rowling               40            4
24                  J.K. Rowling               40            4
25                     Dan Brown              249            1
26                  J.K. Rowling               40            4
27               William Golding             2738            0
28           William Shakespeare               23           11
29                 Gillian Flynn              590           22
...                          ...              ...          ...
9622                 Enid Blyton              185           24
9623                John Marsden              333           41
9624              Natsuki Takaya              236            4
9625                   Alex Lake             2707           48
9626               Brian Herbert              427           23
9627                   J.D. Robb                6           11
9628                  Mike Carey              854           35
9629                     J. Lynn              245           27
9630                   Anonymous              100           10
9631          Arianna Huffington             3152           65
9632               Julie Hockley             1542           11
9633                 Mark Walden             1524            4
9634                تامر إبراهيم             2319           17
9635              Terry Goodkind               78           35
9636           John D. MacDonald             3463           48
9637                 Enid Blyton              185           24
9638                 Jana Oliver             2422           35
9639                Pema Chödrön             1199           61
9640                  James Agee             3337            1
9641           Andrea Kettenmann             2806           57
9642  Chitra Banerjee Divakaruni              696            4
9643                  Gwen Hayes             2460            4
9644                  Sandi Lynn             1124           11
9645               Karen   White             1089           11
9646               Kiyo Fujiwara             2910           62
9647                 Brent Weeks              189            4
9648               Nicky Charles              780            4
9649                   Dr. Seuss               36           39
9650                Isaac Asimov               42           16
9651          Michael D. Watkins             2825           65

[9652 rows x 3 columns]