In [59]:
import winsound as ws
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
from string import digits

<h1>Tag cleaning</h1>

In [39]:
dataTags = pd.read_csv("dataset\\tags.csv")
dataTags

       tag_id                     tag_name
0           0                            -
1           1                         --1-
2           2                        --10-
3           3                        --12-
4           4                       --122-
5           5                       --166-
6           6                        --17-
7           7                        --19-
8           8                         --2-
9           9                       --258-
10         10                         --3-
11         11                        --33-
12         12                         --4-
13         13                         --5-
14         14                        --51-
15         15                         --6-
16         16                        --62-
17         17                         --8-
18         18                        --99-
19         19  --available-at-raspberrys--
20         20                      -2001--
21         21                     -calif--
22         22                       -d-c--
23         23                        -dean
24         24                    -england-
25         25                     -fiction
26         26                   -fictional
27         27                  -fictitious
28         28                   -football-
29         29                      -george
...       ...                          ...
34222   34222                        پارسی
34223   34223                      ڤيرتيجو
34224   34224                         کتاب
34225   34225               کتاب-های-فارسی
34226   34226                    کتاب-کودک
34227   34227        کتابهای-مورد-علاقه-ام
34228   34228                         کودک
34229   34229                کودک-و-نوجوان
34230   34230                       کودکان
34231   34231            کودکان-و-نوجوانان
34232   34232                      کودکانه
34233   34233                            ۱
34234   34234                     วรรณว-ภา
34235   34235                    ℱａｖｏｒｉｔｅｓ
34236   34236                           中文
34237   34237                           叶红
34238   34238                      小說-奇幻小說
34239   34239                           日本
34240   34240                         日本文学
34241   34241                          日本語
34242   34242                           漫画
34243   34243                           골든
34244   34244            ﹏moonplus-reader﹏
34245   34245                   ﺭﺿﻮﻯ-عاشور
34246   34246                   ﻳﻮﺳﻒ-زيدان
34247   34247                    Ｃhildrens
34248   34248                    Ｆａｖｏｒｉｔｅｓ
34249   34249                        Ｍａｎｇａ
34250   34250                       ＳＥＲＩＥＳ
34251   34251                   ｆａｖｏｕｒｉｔｅｓ

[34252 rows x 2 columns]

In [42]:
#removing no english tags
def isEnglish(s):
    try:
        s.encode(encoding='utf-8').decode('ascii')
    except UnicodeDecodeError:
        return False
    else:
        return True

tagtable = dataTags.mask(dataTags["tag_name"].map(lambda x: not isEnglish(x))).dropna()
tagtable

        tag_id                           tag_name
0          0.0                                  -
1          1.0                               --1-
2          2.0                              --10-
3          3.0                              --12-
4          4.0                             --122-
5          5.0                             --166-
6          6.0                              --17-
7          7.0                              --19-
8          8.0                               --2-
9          9.0                             --258-
10        10.0                               --3-
11        11.0                              --33-
12        12.0                               --4-
13        13.0                               --5-
14        14.0                              --51-
15        15.0                               --6-
16        16.0                              --62-
17        17.0                               --8-
18        18.0                              --99-
19        19.0        --available-at-raspberrys--
20        20.0                            -2001--
21        21.0                           -calif--
22        22.0                             -d-c--
23        23.0                              -dean
24        24.0                          -england-
25        25.0                           -fiction
26        26.0                         -fictional
27        27.0                        -fictitious
28        28.0                         -football-
29        29.0                            -george
...        ...                                ...
33273  33273.0                        zoo-animals
33274  33274.0                              zooey
33275  33275.0                            zoology
33276  33276.0                               zoos
33277  33277.0                              zorro
33278  33278.0                               zoya
33279  33279.0                             zpsych
33280  33280.0                       zrr-no-notes
33281  33281.0                      zspirituality
33282  33282.0                       ztc-mermaids
33283  33283.0                              ztemp
33284  33284.0                        ztf-tolkien
33285  33285.0                             zts-uk
33286  33286.0                         zuckerberg
33287  33287.0                            zuhause
33288  33288.0                              zukav
33289  33289.0                              zweig
33290  33290.0  zz-100-books-that-define-the-00-s
33291  33291.0                      zz-ol-cb-read
33292  33292.0                 zz-to-read-fantasy
33293  33293.0                             zz1979
33294  33294.0                     zz1995-to-1996
33295  33295.0                     zz2001-to-2002
33296  33296.0                        zz2014-read
33297  33297.0                      zz2014-summer
33298  33298.0                     zz2017-aug-new
33299  33299.0               zzbooks-read-in-2008
33300  33300.0               zzbooks-read-in-2009
33301  33301.0         zzz-to-read-graphic-novels
33302  33302.0       zzz-to-read-retell-adapt-etc

[32963 rows x 2 columns]

In [48]:
newtags = tagtable["tag_name"].map(lambda x: x.replace("-", " "))
for i in range(5):
    newtags = newtags.map(lambda x: x.replace("  ", " "))

def firstlastspace(stringa):
    try:
        if(stringa[0] == " "):
            stringa = stringa[1:]
        if(stringa[-1] == " "):
            stringa = stringa[:-1]
        return stringa
    except:
        return ""

newtags = newtags.map(lambda x: firstlastspace(x))
tagtable["tag_name"] = newtags
tagtable.head()

   tag_id tag_name
0     0.0
1     1.0        1
2     2.0       10
3     3.0       12
4     4.0      122

In [68]:
#remove all numbers
#tagtable = tagtable.mask( tagtable["tag_name"].map(lambda x: x.isdigit())).dropna()
dig = str.maketrans('', '', digits)
tagtable["tag_name"] = tagtable["tag_name"].map(lambda x: x.translate(dig))
tagtable = tagtable.mask( tagtable["tag_name"].map(lambda x: len(x)<4 )).dropna()
tagtable

        tag_id                      tag_name
19        19.0       available at raspberrys
21        21.0                         calif
23        23.0                          dean
24        24.0                       england
25        25.0                       fiction
26        26.0                     fictional
27        27.0                    fictitious
28        28.0                      football
29        29.0                        george
31        31.0                       history
32        32.0                     imaginary
33        33.0                         italy
36        36.0                          mass
37        37.0                        murder
39        39.0                    non poetry
40        40.0                    performing
41        41.0                          post
42        42.0                    psychology
43        43.0                          read
44        44.0                        single
45        45.0                      specific
46        46.0                    television
48        48.0                     cant find
49        49.0                         bingo
50        50.0                   star rating
51        51.0               a find  summer
52        52.0                           all
53        53.0          best picture younger
54        54.0                         boxed
56        56.0                  eric s books
...        ...                           ...
33271  33271.0              zones of thought
33273  33273.0                   zoo animals
33274  33274.0                         zooey
33275  33275.0                       zoology
33276  33276.0                          zoos
33277  33277.0                         zorro
33278  33278.0                          zoya
33279  33279.0                        zpsych
33280  33280.0                  zrr no notes
33281  33281.0                 zspirituality
33282  33282.0                  ztc mermaids
33283  33283.0                         ztemp
33284  33284.0                   ztf tolkien
33285  33285.0                        zts uk
33286  33286.0                    zuckerberg
33287  33287.0                       zuhause
33288  33288.0                         zukav
33289  33289.0                         zweig
33290  33290.0  zz  books that define the  s
33291  33291.0                 zz ol cb read
33292  33292.0            zz to read fantasy
33294  33294.0                        zz to
33295  33295.0                        zz to
33296  33296.0                       zz read
33297  33297.0                     zz summer
33298  33298.0                    zz aug new
33299  33299.0              zzbooks read in
33300  33300.0              zzbooks read in
33301  33301.0    zzz to read graphic novels
33302  33302.0  zzz to read retell adapt etc

[31912 rows x 2 columns]